<h1>Mario's Foods</h1>

<% if current_user && current_user.admin %>
<p><%= link_to "Add new product", new_product_path %></p>
<% else %>
<h3>Check out these great products!</h3>
<% end %>
<%# <% binding.pry %>  
<div class="row">
<% if @products.any? %>
<div class="col-md-3">
<p>All Products:</p>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
  </div>
  <div class="col-md-3">
  <p>Recently Added:<p>
  <ul>
  <% Product.three_most_recent.each do |most_recent| %>
  <li><%= link_to most_recent.name, product_path(most_recent) %></li>
  <% end %>
  </ul>
  </div>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<% if @reviews.any? %>
<div class="col-md-3">
  <p>Products with most reviews:</p>
  <% Product.most_reviews.each do |most_reviews| %>
  <li><%= link_to most_reviews.name, product_path(most_reviews) %></li>
  <% end %>
  </div>
  <% else %>
    <p>There are no reviews for any products</p>
  <% end %>

<div class="col-md-3">
  <% if Product.usa.any? %>
  <p>Buy Local:</p>
  <ul>
    <% Product.usa.each do |usa| %>
      <li><%= link_to usa.name, product_path(usa) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no foods produced in the USA.</p>
<% end %>
</div>
</div>

